@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: rgba(24, 121, 177, 0.452);
}

h1 {
    font-weight: 800;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5em;
}

.sobremim{
    background-color: rgba(24, 121, 177, 0);
    display: flex;
    gap: 100px;
    justify-content:center;
    flex-direction: row-reverse;
    align-items: center;
    margin: 20px 10% ;
}

.sobremim > img{
    border-radius: 180px;
    width: 247px;
    height: 247px;
}

.sobremim > h5{
    width: 250px;
    font-size: 14px;
    text-align: justify;
}

header{
    background-color: rgba(24, 121, 177, 0.966); 
    height: Hug (70px);
    top: 731px;
    padding: 16px 32px 16px 32px;
    display: flex;
    justify-content: space-between;
}

.links{
    display: flex;
    gap: 10px;
    font-family: 'Poppins', sans-serif;
}

.links a{
    text-decoration: none;
    color: black;
    transition: 0.3s;
}

.links a:visited{
    color: black;
}

.links a:hover{
    color:aliceblue
}

div.rodapé{
    background-color: white;
    width: Fixed (1,440px);
    height: Hug (70px);
    top: 731px;
    padding: 16px 32px 16px 32px;
    margin-top: 80px;
    display: flex; 
    justify-content: end;
    flex-wrap: wrap;
}

div.descrições{
    background-color: rgba(255, 255, 255, 0.614);
    padding: 20px;
    display:flex;
    justify-content: space-around;
    gap: 20px;
    margin-top: 40px;

}

.imagem{
    display: inline-block;
    height:150px;
    width:102px;
}

.imagem > img{
    border-radius: 20px;
}

.imagem > p{
    font-size: 12px;
}

.content-hobbies, .content-top5{
    display: flex;
    flex-wrap: wrap;
    gap: 20px 10px;
}

.hobbies > p {
    text-align: end;
}

.tags{
    background-color:rgba(255, 255, 255, 0.614);
    padding-top: 0.5%;
    font-size: 1.4rem;
    display: flex;
    justify-content: space-evenly;
}


@media(max-width:800px){
    .sobremim{
        flex-direction: column-reverse;
    }

}

@media(max-width: 500px){
    .hobbies, .top5{

        display: flex;
        text-align: center;
        flex-direction: column;
    }
    .hobbies > p, .top5 > p{
        text-align: center;
    }
    .content-hobbies, .content-top5{
        justify-content: center;
    }
}